---
title: 🔥 LITE | Coming Soon...
headline: recovering overachiever
links:
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693520390/sm-icons/instagram.svg
      url: https://www.instagram.com/foundations.design/
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/tiktok.svg
      url: https://www.tiktok.com/@justin.spe4ks?is_from_webapp=1&sender_device=pc
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/spotify.svg
      url: https://open.spotify.com/user/earlman32?si=b91656ecae0d4f38
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/threads.svg
      url: https://www.threads.net/@justin.spe4ks
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/twitch.svg
      url: https://www.twitch.tv/justinspe4ks

titleColor: "#000853"
headlineColor: "#FFFFFF"
---

<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0 interactive-widget=overlays-content" >
      <link href="{{ '/assets/fonts/inconsolata/wdth.css'}}" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">
      <title>{{title}}</title>

      <script>
         // set initial height on page load
         document.addEventListener("DOMContentLoaded", function () {
            const root = document.documentElement;
            const viewportHeight = window.innerHeight;
            root
               .style
               .setProperty('--init-h', `${viewportHeight * .9}px`);
         });
      </script>
   </head>

   <style>

      :root {
         --init-h: 100vh;
      }

      html {
         min-height: 100dvh;
         position: relative;
      }

      body {
         background-color: var(--color-b);
         display: grid;
         grid-template-rows: calc(var(--init-h) * .58) calc(var(--init-h) * .15) calc(var(--init-h) * .18) calc(var(--init-h) * .09);
         gap: var(--space-2xs);
         min-height: var(--init-h);
         justify-items: center;
         align-items: center;
      }

      * {
         color: white;
      }

      .coming-soon p {
         font-variation-settings: "wght" 600, "wdth" 75;
         font-size: var(--d-xl);
         letter-spacing: 0.15em;
         opacity: 70%;
         text-align: center;
      }

      .waitlist-form {
         display: grid;
         gap: var(--space-2xs);
         place-items: center;
      }

      .waitlist-form * {
         text-align: center;
      }

      .waitlist-form .gradient-button {
         display: flex;
         color: #76FAFD;
         justify-content: space-between;
         padding-right: var(--space-2xs);
         gap: var(--space-2xs);
      }

      .icon {
         width: 24px;
      }
      .icon svg * {
         color: #76FAFD;
         fill: #76FAFD;
      }

      .header {
         height: 100%;
      }

      .header .logo {
         height: 100%;
         padding-top: var(--space-md);
         padding-bottom: var(--space-sm);
      }

      .header img {
         margin-left: var(--space-md);
         margin-right: var(--space-md);
         max-height: 100%;
      }
   </style>

   <body>
      <header class="header">
         <div class="logo">
            <img src="/img/lite-logo.png"/>
         </div>
      </header>
      <div class="coming-soon">
         <p>
            ⏳ COMING SOON
         </p>
      </div>
      <div class="waitlist-form">
         <form name="contact" method="POST" data-netlify="true" style="display: contents;">
            <p>
               <input class="email-field" type="email" name="email" placeholder="**********@****.***"/>
            </p>
            <div class="gradient-button-container">
               <button class="gradient-button" type="">join the waitlist <span class="icon">{%- include "icons/arrow_right_24px.svg" -%}</span></button>
            </div>
         </form>
      </div>
      <footer class="lite-footer">
         <a href="https://referral.foundations.design/lite" target="_blank">
            <div class="footer-logo">
               {% include "logo-var1.svg" %}
            </div>
            <p>foundations.design</p>
         </a>
      </footer>
   </body>

</html>