---
title: 🔥 LITE | Coming Soon...
headline: recovering overachiever
links:
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693520390/sm-icons/instagram.svg
      url: https://www.instagram.com/foundations.design/
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/tiktok.svg
      url: https://www.tiktok.com/@justin.spe4ks?is_from_webapp=1&sender_device=pc
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/spotify.svg
      url: https://open.spotify.com/user/earlman32?si=b91656ecae0d4f38
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/threads.svg
      url: https://www.threads.net/@justin.spe4ks
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/twitch.svg
      url: https://www.twitch.tv/justinspe4ks

titleColor: "#000853"
headlineColor: "#FFFFFF"
---

<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ '/assets/fonts/fraunces/full.css'}}" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">
      <title>{{title}}</title>
   </head>

   <style></style>

   <body>
      <img src="/img/lite-logo.png"/>
   </body>

</html>