---
title: 🔥 LITE | Coming Soon...
headline: recovering overachiever
links:
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693520390/sm-icons/instagram.svg
      url: https://www.instagram.com/foundations.design/
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/tiktok.svg
      url: https://www.tiktok.com/@justin.spe4ks?is_from_webapp=1&sender_device=pc
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/spotify.svg
      url: https://open.spotify.com/user/earlman32?si=b91656ecae0d4f38
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/threads.svg
      url: https://www.threads.net/@justin.spe4ks
   - 
      image: https://res.cloudinary.com/foundations-design/image/upload/v1693256360/sm-icons/twitch.svg
      url: https://www.twitch.tv/justinspe4ks

titleColor: "#000853"
headlineColor: "#FFFFFF"
---

<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ '/assets/fonts/inconsolata/index.css'}}" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">
      <title>{{title}}</title>
   </head>

   <style>

      body {
         background-color: var(--color-b);
      }

      * {
         color: white;
      }

      .gradient-button-container {
         margin-left: var(--space-sm);
      }
   </style>

   <body>
      <div class="logo">
         <img src="/img/lite-logo.png"/>
      </div>
      <div class="coming-soon">
         <p>
            ⏳ COMING SOON
         </p>
      </div>
      <div class="waitlist-form">
         <div class="gradient-button-container">
            <button class="gradient-button" type="">join the waitlist</button>
         </div>
      </div>
      <div class="footer">
         <div class="logo">
            <a href="https://referral.foundations.design/jspe4ks" target="_blank">
               {% include "logo-var1.svg" %}
               <p>foundations.design</p>
            </a>
         </div>
      </div>
   </body>

</html>