---
templateEngineOverride: false # remove nunjucks templating to use Vue
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">

    <!-- trying out open-props -->
    <!-- the props -->
    <link rel="stylesheet" href="https://unpkg.com/open-props"/>

    <!-- optional imports that use the props -->
    <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/buttons.min.css"/>

    <!-- individual imports -->
    <link rel="stylesheet" href="https://unpkg.com/open-props/indigo.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/indigo-hsl.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/easings.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/animations.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/sizes.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/gradients.min.css"/>
    <!-- see PropPacks for the full list -->

    <title>LITE | Gallery</title>
    <style>
      :root {
        --frame-viewport-width: 390px;
        --frame-viewport-height: 844px;
        --frame-scaling-factor: 0.6;
      }

      html {
        background-color: #1c1c1c;
      }
      a,
      p {
        color: white;
      }

      body {
        font-family: "Anonymous Pro";
        display: grid;
        place-content: center;
        max-width: 900px;
        margin: 6rem auto;
      }

      img {
        width: 100%;
      }

      h1 {
        color: white;
        margin-bottom: var(--size-3);
      }

      .sites {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-fluid-4);
      }

      .site {
        display: grid;
        gap: var(--size-fluid-1);
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
      }

      .site * {
        grid-column: span 3;
      }

      .site .siteUrl {
        font-size: var(--font-size-3);
        color: white;
      }

      .netlifyUrl {
        grid-column: 2;
        text-decoration: underline;
      }

      .githubUrl {
        grid-column: 2;
        text-decoration: underline;
      }

      .githubUrl:visited,
      .netlifyUrl:visited {
        color: white;
      }

      .og_image {
        width: 250px;
        /*maintains aspect ratio of og_image */
        height: 131.25px;
        border: 1px dotted #ccc;
      }

      .favicon {
        grid-column: 1;
        grid-row: span 2;
        border: 1px dotted #ccc;
        height: 64px;
        width: 64px;
      }

      .frames {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .iphone-frame {
        width: calc(var(--frame-viewport-width) * var(--frame-scaling-factor));
        height: calc(var(--frame-viewport-height)* var(--frame-scaling-factor));
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-radius: 12.5px;
        float: left;
        /* Set the origin of the transformation to the top-left corner */
      }
      .iphone-frame iframe {
        transform: scale(var(--frame-scaling-factor));
        transform-origin: 0 0;
        width: var(--frame-viewport-width);
        height: var(--frame-viewport-height);
      }
      .publish-date {
        font-size: var(--font-size-1);
      }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>LITE / Gen 0</h1>
      <section class="sites">
        <div  v-for="site in sites" :key="site.url" class="site">
          <a :href="site.url" class="siteUrl">{{site.displayUrl}}</a>
          <p class="publish-date" v-if="site.publishDate"> Published on {{site.publishDate}}</p>
          <div class="favicon">
            <img  :src="(site.url + '/favicon.ico')" alt="" srcset="">
          </div>
          <a target="_blank" :href="site.netlifyUrl" class="netlifyUrl">Netlify</a>
          <a target="_blank" :href="site.githubUrl" class="githubUrl">Github</a>
          <div class="og_image">
            <img :src="(site.url + '/og_image.png')" alt="" srcset=""></div>

          <div class="iphone-frame">
            <iframe :src="site.url" width="100%" height="100%" frameborder="0"></iframe>
          </div>
        </div>
      </section>
    </div>

    <script>
      const {ref, computed} = Vue;

      const sitesData = [
        {
          url: "https://yasminemusic.com",
          netlifyUrl: "https://app.netlify.com/sites/yasminemusic/overview",
          githubUrl: "https://github.com/foundations-design/yasminemusic.com"
        }, {
          url: "https://gnh.vibing.digital",
          netlifyUrl: "https://app.netlify.com/sites/gnh-vibing-digital/overview",
          githubUrl: "https://github.com/foundations-design/gnh.vibing.digital"
        }, {
          url: "https://janemilym.com",
          netlifyUrl: "https://app.netlify.com/sites/janemilym/overview",
          githubUrl: "https://github.com/foundations-design/janemilym"
        }, {
          url: "https://janina.vibing.digital",
          netlifyUrl: "https://app.netlify.com/sites/janinavibingdigital/overview",
          githubUrl: "https://github.com/foundations-design/janina.vibing.digital",
          publishDate: "2023-10-05"
        }, {
          url: "https://jspe4ks.vibing.digital",
          netlifyUrl: "https://app.netlify.com/sites/jspe4ks-vibing-digital/configuration/general",
          githubUrl: "https://github.com/foundations-design/jspe4ks.vibing.online",
          publishDate: "2023-09-01"
        }, {
          url: "https://jem.vibing.digital",
          netlifyUrl: "https://app.netlify.com/sites/jemvibingdigital/overview",
          githubUrl: "https://github.com/foundations-design/jem.vibing.digital"
        }
      ]

      const app = Vue.createApp({
        setup() {

          let s = ref(sitesData);
          sites = computed(() => {
            return s
              .value
              .map(site => {
                const processUrl = (url) => {
                  if (!url) 
                    return null;
                  let stripped = url.replace('https://', '');
                  let [subdomain, ...rest] = stripped.split('.');
                  return `${subdomain}.${rest.join('.')}`;
                };

                return {
                  ...site,
                  displayUrl: processUrl(site.url)
                };
              });
          });

          return {sitesData, sites};
        }
      });

      app.mount('#app');

      /* hide images that don't load */
      var imgs = document.getElementsByTagName('img')
      for (var i = 0, j = imgs.length; i < j; i++) {
        imgs[i].onerror = function (e) {
          this
            .parentNode
            .removeChild(this);
        }
      }
    </script>
  </body>
</html>